*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:'Courier New', Courier, monospace;
}






#currentPrice{
    text-align:center;
    font-size: 80px;
}



#infoContainer{
    margin-top: 25px;
}



#coinSearch{
    height: 30px;
    width: 300px;
    font-size: 20px;
}

#coinResults {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300px;
    max-height: 200px;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x:hidden;

    background-color: rgb(250, 250, 250);

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
}

#coinResults li {
    padding: 8px;
    cursor: pointer;
}

#coinResults li:hover {
    background: #eee;
}

#coinSearchContainer{
    text-align: center;
    margin:auto;
    max-width: 300px;

    position: relative;
}



#timePeriodButtonContainer{
    display: flex;
    width: 50px;
    height: 275px;

    justify-self: end;
    flex-direction: column;
    gap: 6px;  
}


.timePeriodButton{
    width: 100%;
    height: 18%;

    margin-top: auto;

    border: none;
    border-radius: 5px;

    cursor: pointer;
    font-weight: bold;
}

.timePeriodButton.active {
    background-color: darkgrey;
}

.timePeriodButton:hover{
    background-color: darkgrey;
    scale: 1.1;
}



.chart-container{
    width: 100%;
    aspect-ratio: 2;


    border: 3px solid black ;
    border-radius: 10px;
    padding: 20px;

}



#chartRow {
    display: grid;
    grid-template-columns: 1fr 55% 1fr; 
    align-items: start;
    margin-top: 30px; 
    
    gap: 10px;
}